html,
body {
  font-size: 14px;
  min-height: 180px;
  width: 375px;
  padding: 0px;
  margin: 0px;
  font-family: "Baloo 2", monospace;
  color: tomato;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  margin: 0px;
  margin-left: -25px;
}

.logo {
  text-align: center;
}

a:link,
a:visited {
  color: #2f5876;
  outline: 0;
  text-decoration: none;
}

img {
  width: 30px;
}

.modal-header {
  text-align: center;
  border-bottom: 0.5px solid #dadada;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  font-size: 18px;
}

.flex-container {
  display: flex;
  padding: 10px 22px;
  margin-left: 25px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 100px;
}

.flex:hover,
#settings-icon:hover,
#close-icon:hover,
.fa-pencil-square-o:hover,
.fa-save:hover {
  opacity: 0.4;
}

.flex i,
form i {
  font-size: 40px;
}

.fa-clock {
  vertical-align: middle;
  margin-bottom: 3px;
}